<style>
  .brand-text {
    font-weight: 800;
    color: #fe424d;
    margin-right: 0.3rem; /* small space between text and icon */
  }
  .brand-text:hover {
    color: #d6333c; /* darker red on hover */
  }
  body {
  margin: 0;
  padding: 0;
}
/* Mobile menu fix */
@media (max-width: 768px) {
  .navbar-collapse {
    background: #fff;  /* solid background */
    position: absolute;
    top: 60px; /* same height as navbar */
    left: 0;
    width: 100%;
    height: 100vh; /* full screen height */
    z-index: 999;   /* above content */
    padding: 1rem;
  }

  .navbar-collapse .search-bar {
    display: none; /* hide search in mobile */
  }
}


</style>

<nav class="navbar navbar-expand-md bg-body-light bottom-border sticky-top">
  <div class="container-fluid">

    <!-- Brand -->
    <a class="navbar-brand d-flex align-items-center" href="/listings">
      <span class="brand-text">TripNest</span>
      <i class="fa-regular fa-compass fs-4"></i>
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      
      <!-- Left nav -->
      <div class="navbar-nav">
        <a class="nav-link nav" href="/listings/favourite">
          <b><h5><i class="fa-solid fa-heart-circle-bolt add"></i> My Favourites</h5></b>
        </a>
      </div>

      <!-- Search (center / right aligned) -->
      <div class="navbar-nav ms-auto search-bar">
        <form class="d-flex search-bar" role="search" method="GET" action="/listings">
          <input class="form-control me-2 search-inp"
            type="search"
            placeholder="Search Destination"
            aria-label="Search"
            name="search"/>
          <button class="btn search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i> Search
          </button>
        </form>
      </div>

      <!-- Right nav -->
      <div class="navbar-nav ms-auto">
        <a class="nav-link nav" href="/listings/new">
          <h5><i class="fa-solid fa-location-dot add"></i>Add Your Listing</h5>
        </a>

        <% if (!currUser){ %>
          <a class="nav-link nav" href="/signup"><b><h5><i class="fa-solid fa-user-plus add"></i> SignUp</h5></b></a>
          <a class="nav-link nav" href="/login"><b><h5><i class="fa-solid fa-user add"></i> Login</h5></b></a>
        <% } %>

        <% if (currUser){ %>
          <a class="nav-link nav" href="/logout"><b><h5><i class="fa-solid fa-user-minus add"></i> Logout</h5></b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
